@charset "utf-8";
/*首页*/
.container {
	width: 100%;
	height: 100%;
}
.index-tit {
	overflow: hidden;
	z-index: 1;
	position: fixed;
	width: 100%;
	left: 80px;
	top: 35px;
}
.index-tit img {
	display: block;
	float: left;
}
.index-tit img.m17 {
	margin: 17px;
}
.index-bg-center{
	background: url(../images/index-bg-center.png) 0 0 no-repeat;
	background-size: 100% auto;
	width: 100%;
	height: 670px;
	position: absolute;
	top: 18%;
	z-index: 1;
}
.index-text {
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -282px;
	z-index: 1;
}
.index-btn-group {
	overflow: hidden;
	position: absolute;
	top: 55%;
	left: 50%;
	margin-left: -420px;
	z-index: 1;
}
.index-btn-group a {
	display: block;
	float: left;
	width: 209px;
	height: 64px;
	line-height: 62px;
	background: url(../images/index-btn-bg.png) 0 0 no-repeat;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	margin: 0 5px;
}
.index-btn-group a i {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	margin: 15px 10px 0 30px;
}
.index-btn-group a i.icon1 {
	background-position: 0 -74px;
}
.index-btn-group a i.icon2 {
	background-position: 0 -117px;
}
.index-btn-group a i.icon3 {
	background-position: 0 -162px;
}
.index-btn-group a i.icon4 {
	background-position: 0 -249px;
}
.index-link-group {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -85px;
	font-size: 14px;
	line-height: 80px;
	z-index: 1;
}
.index-link-group a {
	margin: 0 10px;
}
.back {
	bottom: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
}
.index-bg, .bg-img {
	background:#fff none no-repeat scroll center center ;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}
.bg-img {
	background-image: url(../images/index-bg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.index-bg {
	overflow: visible;
}
.tab-tit {
	border-bottom: 1px solid #dbdbdb;
	height: 77px;
}
.tab-tit ul {
	overflow: hidden;
}
.tab-tit ul li {
	float: left;
	width: 170px;
	height: 75px;
	line-height: 105px;
}
.tab-tit ul li a {
	display: block;
	color: #666;
	font-size: 14px;
	text-align: center;
}
.tab-tit ul li.cur a {
	color: #333;
}
.tab-tit ul li.cur {
	border-bottom: 3px solid #fab42e;
}
.tab-con {
	width: 100%;
	padding: 30px 0;
	overflow: hidden;
}
.tab-con .search-form {
	width: 630px;
	position: relative;
	left: 50%;
	margin-left: -315px;
	margin-top: 40px;
}
.search-form .mb30 {
	margin-bottom: 30px;
}
.search-form label {
	float: left;
	width: 100px;
	line-height: 37px;
	text-align: right;
	font-size: 14px;
	padding-right: 20px;
}
.search-form input[type="text"] {
	width: 340px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	padding: 0 0 0 5px;
	color: #666;
}
.btn-align{
	padding-left: 120px;
}
.error-tips {
	color: #f00;
	font-size: 14px;
	position: absolute;
	left: 470px;
	line-height: 37px;
}
.search-result h4 {
	font-size: 18px;
	text-align: center;
}
.search-result .res-box {
	border: 1px solid #dbdbdb;
	padding: 40px;
	margin: 30px 45px 0;
	font-size: 14px;
}
.search-result .res-box p {
	width: 260px;
	margin: 10px auto;
}
.t-center {
	text-align: center;
}
.tab-con .card-box {
	float: left;
	width: 39%;
	margin: 0 5%;
	border: 1px solid #dbdbdb;
}
.card-box .card-img {
	text-align: center;
	padding: 40px;
	border-bottom: 1px solid #dbdbdb;
}
.card-box .card-img img {
	display: block;
	margin: 0 auto;
	border-radius: 5px;
}
.card-box .card-name {
	line-height: 55px;
	font-size: 14px;
	text-align: center;
}
.download {
	text-align: center;
	line-height: 80px;
}
.download a {
	color: #2296f9;
	text-decoration: underline;
	font-size: 14px;
	margin: 0 10px;
}
.res-table {
	margin: 30px 40px 0;
}
.res-table .table-tit {
	font-size: 14px;
}
.res-table .table-tit p {
	float: left;
	margin: 10px 30px 10px 0;
}
.res-table table {
	width: 100%;
	font-size: 14px;
}
.res-table table tr th {
	border: 1px solid #dbdbdb;
	background-color: #f5f5f5;
	padding: 7px;
	text-align: center;
}
.res-table table tr td {
	border: 1px solid #dbdbdb;
	padding: 7px;
	text-align: center;
}
.res-table table tr td a {
	color: #41adfb;
	margin: 0 10px;
}
.res-table table tr td a:hover {
	text-decoration: underline;
}
.search-result i.right {
	width: 62px;
	height: 62px;
	float: left;
}
.pwd-res-box {
	font-size: 14px;
	width: 300px;
	margin: 20px auto;
	overflow: hidden;
}
.fl {
	float: left;
}
.pwd-res-box p {
	line-height: 30px;
	margin-left: 25px;
}
/*卡介绍*/
.w960 {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.introduce-text {
	font-size: 14px;
	vertical-align: text-bottom;
	margin: 0 60px 40px;
}
.introduce-text em {
	font-size: 18px;
}
.introduce-text a{
	color: #2296f9;
}
.card-show {
	width: 70%;
	float: left;
}
.card-show .card-show-img {
	overflow: hidden;
}
.card-show-img {
	text-align: center;
}
.card-show-img img {
	border-radius: 5px;
	margin: 0 25px;
}
.card-show .card-show-img img {
	display: block;
	float: left;
	margin-bottom: 15px;
}
.ewm {
	width: 29%;
	float: left;
	border: 1px solid #dbdbdb;
	text-align: center;
	padding: 45px 0 30px;
}
.ewm img {
	display: block;
	margin: 0 auto;
}
.ewm p {
	font-size: 14px;
	line-height: 40px;
	color: #666;
	margin-bottom: 20px;
}
.tab-con .tel{
	width: 960px;
	margin: 20px auto;
	font-size: 15px;
}
.tab-con .tel em{
	font-size: 24px;
	color: #2296f5;
}
/*企业购卡*/
.buy-card-form {
	width: 660px;
	margin-left: 260px;
	font-size: 14px;
}
.buy-card-form .radio {
	overflow: hidden;
	padding: 0 140px;
	margin-bottom: 20px;
}
.radio p {
	width: 50%;
	float: left;
}
.buy-card-form .input-box {
	overflow: hidden;
	margin-bottom: 20px;
}
.input-tit{
	width: 130px;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
}
.input-box p {
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
}
.input-box p label {
	width: 130px;
	float: left;
	text-align: right;
	line-height: 37px;
	margin-right: 10px;
}
.input-box p input[type="text"] {
	float: left;
	width: 360px;
	height: 35px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	padding-left: 5px;
}
.input-box p .btn {
	margin: 4px 0;
}
.module-load{
	position: absolute;
	left: 530px;
	line-height: 40px;
	color: #2296f9;
	text-decoration: underline;
}
.buy-card-form .check {
	margin-left: 140px;
	margin-bottom: 50px;
}
.buy-card-form .btn-group {
	margin-bottom: 20px;
}
.buy-card-form .btn-group .btn {
	display: block;
	margin: 20px 0 20px 220px;
}
.check .red {
	color: #f00;
}
.check .red a {
	margin-left: 5px;
	color: #f00;
	text-decoration: underline;
}
.buy-card-form .tijiao {
	text-align: center;
}
.tijiao .btn {
	display: block;
	margin-left: 220px;
 *margin-left: 0;
}
/*************** 分页样式 ***************/
.content-box{
  margin: 20px 40px;
}
.content-box a {
  height: 30px;
  padding: 0px 18px;
  border: 1px solid #2296f9;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  vertical-align: text-bottom;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  overflow: hidden;
  margin-right: 10px;
  background-color: #fff;
  color: #2296f9;
  font-size: 14px;
}
.content-box a:hover {
  color: #fff;
  background-color: #2296f9;
}
.content-box a select{
  width: 30px;
  padding-left: 5px;
  border-radius: 0;
  background-color: #fff;
}
.content-box .fenye {
  float: right;
}
/*************** 分页样式 ***************/
/*验证码*/
.search-form input[type="text"].yzm,
.input-box input[type="text"].yzm{
  width: 134px;
  float: left;
}
.search-form .yzm-img,
.input-box .yzm-img{
  float: left;
  width: 120px;
  height: 35px;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.search-form .yzm-link,
.input-box .yzm-link{
  width: 70px;
  line-height: 35px;
  padding-left: 15px;
  float: left;
  color: #2296f9;
  text-decoration: underline;
}
/*文件上传按钮美化*/
.upload-btn{
	display: inline-block;
	line-height: 30px;
	text-align: center;
	vertical-align: top;
	position: relative;
	overflow: hidden;
}
.upload-btn input{
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	width: 140px;
	height: 30px;
}
.upload-textname{
	display: inline-block;
	line-height: 40px;
	vertical-align: top;
	width: 220px;
	overflow: hidden;
}
/*线下商户*/
.search-box{
	margin: 0 40px 30px;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
}
.search-box h3{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}
.search-box .search-input{
	overflow: hidden;
	margin-bottom: 15px;
}
.search-input li{
	width: 25%;
	float: left;
	overflow: hidden;
}
.search-input li label{
	float: left;
	width: 70px;
	line-height: 35px;
}
.search-input li select{
	float: left;
	width: 170px;
	height: 35px;
	border: 1px solid #ddd;
	border-radius: 0;
	background-color: #fff;
	padding-left: 5px;
}
.search-input li input{
	float: left;
	width: 170px;
	height: 33px;
	border: 1px solid #ddd;
	border-radius: 0;
	background-color: #fff;
	padding: 0 0 0 5px;
}
.search-input li button{
	display: block;
	margin: 0 auto;
}
.search-box .tips{
	color: #f00;
}
/*线上商户*/
.logo-box{
	overflow: hidden;
	margin: 0 40px 50px;
}
.logo-box li{
	float: left;
	width: 20%;
}
.logo-box li img{
	display: block;
	width: 90%;
}
